{% extends 'base.html' %}
{{ super() }}
{% block body %}
    <div class="container bg-white clearfix">
        <div>
            <h1>Quản lý Sách</h1>
            <button type="button" class="btn"><a href="{{ url_for('add_book') }}">Thêm Sách</a></button>
            <form>
                <input name="keyword" placeholder="Keyword...."/>
                <button type="submit">Tìm</button>
            </form>
        </div>
        <div class="page-container row-fluid container-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"> STT</th>
                    <th scope="col"> Tên Sách</th>
                    <th scope="col"> Thể Loại</th>
                    <th scope="col"> Tác Giả</th>
                    <th scope="col"> Tồn Kho</th>
                    <th scope="col"> Đơn Giá</th>
                    <th scope="col"> Action</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ book.name }}</td>
                        <td>{{ book.category.name }}</td>
                        <td>{{ book.author.name }}</td>
                        <td>{{ book.stock }}</td>
                        <td>{{ book.price }}</td>
                        <td>
                            <a href="{{ url_for('edit_book',id=book.id) }}">Sửa</a> |
                            <a href="{{ url_for('del_book',id=book.id) }}">Xóa</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock body %}